.fullPage {
  position: relative;
  display: flex;
  flex-direction: column; }

h2 {
  margin-top: 2rem; }

.introductionContainer {
  color: black;
  font-family: "Playfair Display", serif;
  top: 20vh;
  left: 30vw;
  position: absolute;
  height: 13rem; }
  .introductionContainer .introTop {
    height: 10rem; }
    .introductionContainer .introTop p {
      font-size: 4em;
      display: inline-block;
      margin-bottom: 0;
      width: max-content;
      animation: fadeIn 3s forwards; }
  .introductionContainer hr {
    width: 0;
    animation: drawLine 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    bottom: 0px;
    color: #c2d1f0; }
  .introductionContainer .introBottom {
    bottom: 0;
    height: 3rem;
    overflow: hidden; }
    .introductionContainer .introBottom p {
      font-size: 2rem;
      text-align: center;
      margin: 0;
      overflow: hidden;
      height: 0;
      animation: slideDown 1s;
      animation-delay: 2s;
      animation-fill-mode: forwards; }

@keyframes slideInLeft {
  0% {
    transform: translate(-6em, 0); }
  100% {
    transform: translate(0, 0); } }
@keyframes slideInRight {
  0% {
    transform: translate(6em, 0); }
  100% {
    transform: translate(0, 0); } }
@keyframes drawLine {
  0% {
    width: 0px; }
  100% {
    width: 100%; } }
@keyframes slideDown {
  0% {
    height: 0px; }
  100% {
    height: 37px; } }
.homePage {
  height: 100vh;
  position: relative; }
  .homePage img {
    height: 80vh;
    position: absolute;
    bottom: 0px;
    animation: fadeIn 3s forwards;
    transition: all 1s; }
  .homePage i {
    font-size: 3rem;
    bottom: 10px;
    left: 50vw;
    position: absolute; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#about .aboutBlurb {
  width: 40vw;
  margin-right: 5vw;
  font-family: "Lato", sans-serif;
  align-self: flex-end; }
#about h2 {
  margin-right: 5vw;
  text-align: right; }

div#nav {
  width: 15vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  list-style: none;
  background: linear-gradient(90deg, #c2d1f0, #fff);
  top: 0;
  left: 0; }
  div#nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding-left: 25px;
    height: 60%; }
    div#nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem; }
      div#nav ul li a .navHover {
        font-size: 1.5rem; }
      div#nav ul li a p {
        display: inline;
        padding-left: 5px;
        color: #fff; }
  div#nav img {
    height: 10vh;
    position: absolute;
    margin-left: 10px;
    bottom: 10vh;
    transition: 1s all; }

.showNavItem {
  animation: showNavItem 6s forwards; }

@keyframes showNavItem {
  0% {
    width: 0px; }
  100% {
    width: min-content; } }
#skills h2 {
  text-align: left;
  margin-right: 5vw; }
#skills .iconContainer {
  width: 50vw;
  margin-left: 5vw; }
  #skills .iconContainer ul {
    padding: 0; }
  #skills .iconContainer li {
    list-style: none;
    font-size: 50px;
    display: inline-block;
    margin: 10px; }
    #skills .iconContainer li p {
      font-family: "Lato", sans-serif;
      font-size: 0.25em;
      text-align: center; }
    #skills .iconContainer li img {
      width: 50px;
      display: inline-block;
      vertical-align: center; }

#education h2 {
  text-align: right;
  margin-right: 5vw; }
#education .educationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto; }
  #education .educationContainer div {
    padding: 10px; }
    #education .educationContainer div h6 {
      font-size: 1.2rem;
      margin: 1rem 0 1rem 0;
      overflow-wrap: break-word; }
    #education .educationContainer div p {
      font-family: "Lato", sans-serif; }
      #education .educationContainer div p:first-of-type {
        font-style: italic; }
      #education .educationContainer div p span {
        font-style: italic; }
  #education .educationContainer .divider {
    background-color: #c2d1f0;
    width: 2px;
    padding: 0px;
    margin: 0 2px 0 2px; }

.experienceContainer {
  display: flex;
  width: 75vw;
  justify-content: space-between;
  margin: 0 auto; }
  .experienceContainer .experienceTable {
    width: 25vw;
    margin-right: 5vw; }
    .experienceContainer .experienceTable h6 {
      box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
      border: 3px solid #c2d1f0;
      padding: 10px;
      font-size: 1.2rem;
      margin: 0 0 1.1rem 0;
      background-color: #c2d1f0;
      text-align: center; }
      .experienceContainer .experienceTable h6:last-of-type {
        margin: 0; }
      .experienceContainer .experienceTable h6:hover {
        background-color: #fff; }
      .experienceContainer .experienceTable h6.active {
        background-color: #fff; }
  .experienceContainer .experienceDetails {
    flex: 2;
    border: 3px solid #c2d1f0; }
    .experienceContainer .experienceDetails p {
      display: block; }
    .experienceContainer .experienceDetails .experienceDetail:first-of-type {
      display: block; }
    .experienceContainer .experienceDetails .experienceDetail {
      padding: 15px;
      display: none;
      font-family: "Lato", sans-serif; }
      .experienceContainer .experienceDetails .experienceDetail h6:first-of-type {
        display: inline-block; }
      .experienceContainer .experienceDetails .experienceDetail h6 {
        font-size: 1rem;
        margin: 0;
        font-family: "Playfair Display", serif; }
      .experienceContainer .experienceDetails .experienceDetail p:first-of-type {
        margin: 0;
        float: right;
        display: inline-block; }
      .experienceContainer .experienceDetails .experienceDetail p.position {
        font-style: italic; }

#contact {
  height: 100vh; }
  #contact img {
    height: 30vw;
    width: auto; }

#portfolio h2 {
  text-align: right;
  margin-right: 5vw; }
#portfolio .portfolioPanels {
  display: flex;
  flex-wrap: wrap;
  max-width: 75vw;
  margin: 0 auto;
  height: 90vh;
  overflow: hidden;
  flex-direction: column; }
  #portfolio .portfolioPanels .panel > *:nth-child(2) {
    transform: translateX(-100%); }
  #portfolio .portfolioPanels .panel {
    overflow: hidden;
    flex: 1;
    flex-direction: column;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11); }
    #portfolio .portfolioPanels .panel:hover {
      border: 2px outset rgba(255, 255, 255, 0.2); }
    #portfolio .portfolioPanels .panel h3 {
      margin: auto;
      position: absolute; }
    #portfolio .portfolioPanels .panel img {
      width: 100%; }
    #portfolio .portfolioPanels .panel .projectInfo {
      font-family: "Lato", sans-serif;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      #portfolio .portfolioPanels .panel .projectInfo .projectSummary {
        width: 100%;
        text-align: center; }
      #portfolio .portfolioPanels .panel .projectInfo .textContainer {
        width: 55%; }
        #portfolio .portfolioPanels .panel .projectInfo .textContainer .linkContainer {
          display: flex;
          justify-content: space-around; }
          #portfolio .portfolioPanels .panel .projectInfo .textContainer .linkContainer a {
            background-color: white;
            text-decoration: none;
            color: #000;
            padding: 5px; }
      #portfolio .portfolioPanels .panel .projectInfo .imageContainer {
        width: 45%;
        display: flex;
        align-items: center;
        padding: 10px;
        box-sizing: border-box; }
  #portfolio .portfolioPanels .panel1 {
    background-color: #354351;
    color: white; }
  #portfolio .portfolioPanels .panel2 {
    background-color: #8FC1E3; }
  #portfolio .portfolioPanels .panel3 {
    background-color: #c2d1f0; }
  #portfolio .portfolioPanels .panel4 {
    background-color: #F8F8F8; }
    #portfolio .portfolioPanels .panel4 a {
      background-color: #c2d1f0;
      text-decoration: none;
      color: #000;
      padding: 5px; }
  #portfolio .portfolioPanels .open {
    flex: 6; }
  #portfolio .portfolioPanels .panel.open-active > *:nth-child(2) {
    transform: translateX(0); }
  #portfolio .portfolioPanels .panel.open-active h3 {
    margin: 0 auto;
    position: relative; }

html {
  background-color: #fff;
  font-family: "Playfair Display", serif; }

div.container {
  position: absolute;
  height: 100vh;
  width: 85vw;
  right: 0; }

/*# sourceMappingURL=style.css.map */
