@import './base/variables';
@import './base/globalClasses';
@import './components/introduction';
@import './components/shapes';
@import './components/homePage';
@import './components/navbar';

html{
  background-color: $light;
  font-family: $font;
}

div.container{
  position: absolute;
  height: 100vh;
  width: 85vw;
  right: 0;

}
