.experienceContainer{
  display: flex;
  width: 75vw;
  justify-content: space-between;
  margin: 0 auto;
  .experienceTable{
    width: 25vw;
    margin-right: 5vw;
    h6{
      box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
      border: 3px solid $blue;
      padding: 10px;
      font-size: 1.2rem;
      margin: 0 0 1.1rem 0;
      background-color: $blue;
      text-align: center;
      &:last-of-type{
        margin:0;
      }
      &:hover{
        background-color: $light;
        cursor: pointer;
      }
      &.active{
        background-color: $light;
      }
    }
  }
  .experienceDetails{
    flex: 2;
    // border: 3px solid $blue;
    p{
      display: block;
    }
    .experienceDetail:first-of-type{
      display: block;
    }
    .experienceDetail{
      border: 3px solid #c2d1f0;
      padding: 15px;
      h6:first-of-type{
        display: inline-block;
      }
      h6{
        font-size: 1.2rem;
        margin: 0;
        font-family: $font;
      }
      p:first-of-type{
        margin: 0;
        float: right;
        display: inline-block;
      }
      p.position{
        font-style: italic;
      }
      display: none;
      font-family: $text;
    }
  }
}

@media (max-width: 480px) {
  .experienceContainer{
    flex-direction: column;
    .experienceTable{
      width: auto;
      margin-right: 0; 
    }
    .experienceDetail{
      margin-top:1.1rem;
    }
  }
}
