$introTopHeight: 10rem;
$introductionContainerHeight: 13rem;
$introBottomHeight: 3rem;


.introductionContainer{
  color: black;
  font-family: $font;
  top: 20vh;
  left: 30vw;
  position: absolute;
  height: $introductionContainerHeight;
  .introTop{
    height: $introTopHeight;
      p{
        font-size: 4em;
        display: inline-block;
        margin-bottom:0;
        width: max-content;

        animation: fadeIn 3s forwards;
      }
  }
  hr{
    width: 0;
    animation: drawLine 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    bottom: 0px;
    color: $backgroundColor;
  }
  .introBottom{
    bottom: 0;
    height: 3rem;
    overflow: hidden;
    p{
      font-size: 2rem;
      text-align:center;
      margin:0;
      overflow: hidden;
      height:0;
      animation: slideDown 1s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }
  }
}


@keyframes slideInLeft {
  0%{transform: translate(-6em, 0);}
  100%{transform: translate(0, 0);}
}
@keyframes slideInRight {
  0%{transform: translate(6em, 0);}
  100%{transform: translate(0, 0);}
}

@keyframes drawLine {
  0%{width:0px;}
  100%{width: 100%;}
}

@keyframes slideDown {
  0%{height: 0px;}
  100%{height: 37px;}
}

@media (max-width: 480px) {
  .introductionContainer{
    top: 20vh;
    left: 20vw;
    height: 6rem;
    .introTop{
      height: 6rem;
        p{
          font-size: 2em;
        }
    }
    .introBottom{
      p{
        font-size: 1rem;
      }
    }
  }
}
