//COLORS
$backgroundColor: #c2d1f0;
$secondbackgorund: rgba(100,100,100,0.2);
$light: #f4f7f6;
$gradient: linear-gradient(-90deg, red, yellow);
//fonts
$font: 'Domine', serif;
$cursive: 'Petit Formal Script', cursive;
